*{
  box-sizing:border-box;
}
html{
  min-width: 320px;
  max-width: 1200px;
  padding: 0;
  margin:auto;
  background-color: #6e6e6e;
  color: #ddd;
  font-size: calc(0.6em + .5vw);
}
body, header, section, nav, ul,
article,aside, div{
  padding:0;
  border:none;
  margin:0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
